<div class="flex">
    <!-- Sidebar -->
    <div class="sidebar w-64 bg-white h-screen fixed top-0 left-0 p-6 shadow-lg overflow-y-auto">
      <img [src]="imagePath" class="w-34 h-16 object-contain mb-6">
      <ul class="space-y-4 text-gray-900 text-sm font-semibold">
        <li class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="active-link">
          <img src="https://cdn0.iconfinder.com/data/icons/set-app-incredibles/24/Home-01-512.png" class="w-5 h-5">
          <a [routerLink]="['/admin-dashboard/home']" routerLinkActive="text-[#00A1FF]">Home</a>
        </li>
  
        <!-- Customer Management -->
        <li *ngIf="isEntry() || isOperation()">
          <div class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200 cursor-pointer" (click)="toggleCustomerDropdown()">
            <img src="https://cdn2.iconfinder.com/data/icons/e-commerce-line-4-1/1024/user4-512.png" class="w-5 h-5">
            <span>Customer Management</span>
            <img [class.rotate-180]="isCustomerDropdownOpen" src="https://cdn1.iconfinder.com/data/icons/basic-ui-icon-rounded-colored/512/icon-32-1024.png" class="w-4 h-4 ml-auto transition-transform duration-200">
          </div>
          <ul *ngIf="isCustomerDropdownOpen" class="ml-7 mt-2 space-y-2">
            <li *ngIf="isAdmin() || isEntry()" class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="text-[#00A1FF]">
              <img src="https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/user-512.png" class="w-5 h-5">
              <a [routerLink]="['/admin-dashboard/current-account-register']" routerLinkActive="text-[#00A1FF]">Account Register</a>
            </li>
            <li *ngIf="isAdmin() || isEntry() || isManager() || isOperation()" class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="text-[#00A1FF]">
              <img src="https://cdn1.iconfinder.com/data/icons/social-productivity-line-art-6/128/profile-menu-ol-1024.png" class="w-5 h-5">
              <a [routerLink]="['/admin-dashboard/current-acc-list']" routerLinkActive="text-[#00A1FF]">Account List</a>
            </li>
            <li *ngIf="isAdmin() || isEntry()" class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="text-[#00A1FF]">
              <img src="https://cdn0.iconfinder.com/data/icons/marketplace-3/32/Marketplace-20-512.png" class="w-5 h-5">
              <a [routerLink]="['/admin-dashboard/transaction']" routerLinkActive="text-[#00A1FF]">Transaction</a>
            </li>
            <li *ngIf="isAdmin() || isEntry() || isManager() || isOperation()" class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="text-[#00A1FF]">
              <img src="https://cdn3.iconfinder.com/data/icons/fluent-regular-24px-vol-4/24/ic_fluent_history_24_regular-1024.png" class="w-5 h-5">
              <a [routerLink]="['/admin-dashboard/transaction-history']" routerLinkActive="text-[#00A1FF]">Transaction History</a>
            </li>
          </ul>
        </li>
  
        <!-- Loan Management -->
        <li *ngIf="isAdmin() || isEntry() || isManager()">
          <div class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200 cursor-pointer" (click)="toggleLoanDropdown()">
            <img src="https://cdn3.iconfinder.com/data/icons/loan-and-investment-1/85/loan_percent_interest_rates_money_finance-1024.png" class="w-5 h-5">
            <span>Collateral Management</span>
            <img [class.rotate-180]="isLoanDropdownOpen" src="https://cdn1.iconfinder.com/data/icons/basic-ui-icon-rounded-colored/512/icon-32-1024.png" class="w-4 h-4 ml-auto transition-transform duration-200">
          </div>
          <ul *ngIf="isLoanDropdownOpen" class="ml-7 mt-2 space-y-2">
            <li *ngIf="isAdmin()" class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="text-[#00A1FF]">
              <img src="https://cdn0.iconfinder.com/data/icons/money-2-3/66/162-512.png" class="w-5 h-5">
              <a [routerLink]="['/admin-dashboard/create-collateral-type']" routerLinkActive="text-[#00A1FF]">Create Collateral Type</a>
            </li>
            <li *ngIf="isAdmin()" class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="text-[#00A1FF]">
              <img src="https://cdn0.iconfinder.com/data/icons/money-2-3/66/162-512.png" class="w-5 h-5">
              <a [routerLink]="['/admin-dashboard/collateral-type-list']" routerLinkActive="text-[#00A1FF]">Collateral Type List</a>
            </li>
          </ul>
        </li>
  
        <!-- Role Management -->
        <li>
          <div class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200 cursor-pointer" (click)="toggleRoleDropdown()">
            <img src="https://cdn1.iconfinder.com/data/icons/strategy-building/64/98_multi_tasking_multiple_task_multi_duties_multi_mission_multi_role-1024.png" class="w-5 h-5">
            <span>Role Management</span>
            <img [class.rotate-180]="isRoleDropdownOpen" src="https://cdn1.iconfinder.com/data/icons/basic-ui-icon-rounded-colored/512/icon-32-1024.png" class="w-4 h-4 ml-auto transition-transform duration-200">
          </div>
          <ul *ngIf="isRoleDropdownOpen" class="ml-7 mt-2 space-y-2">
            <li class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200">
              <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/plus-512.png" class="w-4 h-4">
              <a [routerLink]="['/admin-dashboard/create-role']" routerLinkActive="text-[#00A1FF]">Create Role</a>
            </li>
            <li class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200">
              <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/list-512.png" class="w-4 h-4">
              <a [routerLink]="['/admin-dashboard/list-role']" routerLinkActive="text-[#00A1FF]">List Roles</a>
            </li>
          </ul>
        </li> 
  
        <!-- User Management -->
        <li *ngIf="isAdmin()">
          <div class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200 cursor-pointer" (click)="toggleUserDropdown()">
            <img src="https://cdn4.iconfinder.com/data/icons/top-search-6/128/_work-_working_computer_user_freelancer_internet_user_office_work_online_employee-1024.png" class="w-6 h-6">
            <span>User Management</span>
            <img [class.rotate-180]="isUserDropdownOpen" src="https://cdn1.iconfinder.com/data/icons/basic-ui-icon-rounded-colored/512/icon-32-1024.png" class="w-4 h-4 ml-auto transition-transform duration-200">
          </div>
          <ul *ngIf="isUserDropdownOpen" class="ml-7 mt-2 space-y-2">
            <li class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="text-[#00A1FF]">
              <img src="https://cdn3.iconfinder.com/data/icons/social-productivity-black-line-3/1/27-1024.png" class="w-4 h-4">
              <a [routerLink]="['/admin-dashboard/create-user']" routerLinkActive="text-[#00A1FF]">Create User</a>
            </li>
            <li class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="text-[#00A1FF]">
              <img src="https://cdn0.iconfinder.com/data/icons/phosphor-bold-vol-3-1/256/list-bullets-duotone-512.png" class="w-4 h-4">
              <a [routerLink]="['/admin-dashboard/list-users']" routerLinkActive="text-[#00A1FF]">List Users</a>
            </li>
          </ul>
        </li>
  
        <!-- Branch Management -->
        <li *ngIf="isAdmin()">
          <div class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200 cursor-pointer" (click)="toggleBranchDropdown()">
            <img src="https://cdn4.iconfinder.com/data/icons/top-search-6/128/_work-_working_computer_user_freelancer_internet_user_office_work_online_employee-1024.png" class="w-6 h-6">
            <span>Branch Management</span>
            <img [class.rotate-180]="isBranchDropdownOpen" src="https://cdn1.iconfinder.com/data/icons/basic-ui-icon-rounded-colored/512/icon-32-1024.png" class="w-4 h-4 ml-auto transition-transform duration-200">
          </div>
          <ul *ngIf="isBranchDropdownOpen" class="ml-7 mt-2 space-y-2">
            <li class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="text-[#00A1FF]">
              <img src="https://cdn3.iconfinder.com/data/icons/social-productivity-black-line-3/1/27-1024.png" class="w-4 h-4">
              <a [routerLink]="['/admin-dashboard/create-branch']" routerLinkActive="text-[#00A1FF]">Create Branch</a>
            </li>
            <li class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="text-[#00A1FF]">
              <img src="https://cdn0.iconfinder.com/data/icons/phosphor-bold-vol-3-1/256/list-bullets-duotone-512.png" class="w-4 h-4">
              <a [routerLink]="['/admin-dashboard/branch-list']" routerLinkActive="text-[#00A1FF]">Branch List</a>
            </li>
          </ul>
        </li>
  
        <!-- Rate Management -->
        <li *ngIf="isAdmin()">
          <div class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200 cursor-pointer" (click)="toggleRateDropdown()">
            <img src="https://cdn4.iconfinder.com/data/icons/top-search-6/128/_work-_working_computer_user_freelancer_internet_user_office_work_online_employee-1024.png" class="w-6 h-6">
            <span>Rate Management</span>
            <img [class.rotate-180]="isRateDropdownOpen" src="https://cdn1.iconfinder.com/data/icons/basic-ui-icon-rounded-colored/512/icon-32-1024.png" class="w-4 h-4 ml-auto transition-transform duration-200">
          </div>
          <ul *ngIf="isRateDropdownOpen" class="ml-7 mt-2 space-y-2">
            <li class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="text-[#00A1FF]">
              <img src="https://cdn3.iconfinder.com/data/icons/social-productivity-black-line-3/1/27-1024.png" class="w-4 h-4">
              <a [routerLink]="['/admin-dashboard/create-rate']" routerLinkActive="text-[#00A1FF]">Create Rate</a>
            </li>
            <li class="flex items-center space-x-3 hover:bg-gray-100 p-2 rounded-lg transition duration-200" routerLinkActive="text-[#00A1FF]">
              <img src="https://cdn0.iconfinder.com/data/icons/phosphor-bold-vol-3-1/256/list-bullets-duotone-512.png" class="w-4 h-4">
              <a [routerLink]="['/admin-dashboard/list-rate']" routerLinkActive="text-[#00A1FF]">Rate List</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  
 <!-- Main content wrapper with fixed header -->
<div class="flex-1 ml-64">
  <header class="fixed right-0 left-64 bg-white z-10 shadow-md p-4 flex justify-between items-center">
    <div class="flex items-center space-x-2">
      <img src="assets/images/logo.png" alt="Logo" class="w-8 h-8">
    </div>
    
    <div class="flex items-center space-x-4">
      <button (click)="openLogoutModal()" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-200">
        <span>Logout</span>
      </button>
    </div>
  </header>

  <div class="pt-24 p-7 bg-gray-100 min-h-screen">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Logout Modal -->
<div *ngIf="showLogoutModal" class="fixed inset-0 bg-white-/70 backdrop-blur-[1.5px] flex items-center justify-center p-4 z-50">
  <div class="bg-white rounded-lg shadow-lg p-6 w-96">
    <h2 class="text-2xl font-semibold text-blue-800 mb-4">Confirm Logout</h2>
    <p class="text-gray-700 mb-6">Are you sure you want to logout?</p>
    <div class="flex justify-end space-x-4">
      <button (click)="closeLogoutModal()" class="px-4 py-2 bg-gray-200 text-black rounded-lg hover:bg-gray-300 transition duration-200">
        Cancel
      </button>
      <button (click)="confirmLogout()" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-200">
        Logout
      </button>
    </div>
  </div>
</div>