
<a routerLink="/../list-rate" class="btn btn-primary">Rates</a>
<title>Role List</title>
<a routerLink="/create-role" class="btn btn-primary">Add Role</a>
<table>
    <thead>
      <tr>
        <th>Role Name</th>
        <th>Description</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of roles">
        <td>{{ r.roleName }}</td>
        <td>{{ r.roleDescription }}</td>
        <td>{{ r.active ? 'Yes' : 'No' }}</td>
        <td>
          <a [routerLink]="['/edit-role', r.id]" class="btn btn-secondary">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  