<div class="min-h-screen bg-gray-50 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div class="bg-white p-10 shadow-lg rounded-lg">
        <h2 class="text-center text-3xl font-extrabold text-[#00A1FF] mb-6">
          Login
        </h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
          <!-- Show error message if exists -->
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>

          <div>
            <label for="username"  class="block text-sm/8 font-medium text-gray-900">Email address or User ID</label>
            <input id="username" type="username" formControlName="username" 
            class="w-full px-3 p-1 bg-white mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder:text-sm"
            [class.is-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"/>
            <div class="invalid-feedback" *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched">
              Username is required
            </div>
          </div>
  
          <div>
            <label for="password"  class="block text-sm/8 font-medium text-gray-900">Password</label>
            <input id="password" type="password" formControlName="password" 
            class="w-full px-3 p-1 bg-white mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder:text-sm"
            [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"/>
            <div class="invalid-feedback" *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
              Password is required
            </div>
          </div>
  
          <div class="flex items-center justify-between">
  
            <div class="text-sm">
              <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Forgot your password?</a>
            </div>
          </div>
  
          <div>
            <button type="submit" 
            class="w-full mt-1 py-2 px-4 bg-[#00A1FF] text-white font-semibold rounded-md shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all"
            [disabled]="loginForm.invalid || loading">
              {{ loading ? 'Logging in...' : 'Login' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  