<div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-xl font-semibold text-center text-gray-800 mb-4">Register Collateral</h2>
    
    <form [formGroup]="collateralForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <!-- Value Input -->
      <div *ngIf="message" class="mt-4">
        <div
          [ngClass]="{
            'bg-green-100 border-green-500 text-green-700': !error,
            'bg-red-100 border-red-500 text-red-700': error
          }"
          class="border-l-4 p-4 rounded-md"
        >
          <p class="text-sm">{{ message }}</p>
        </div>
      </div>
      
       <div class="mb-4">
        <label class="block text-sm font-medium text-gray-900">Current Account</label>
        <select formControlName="currentAccountId"
                class="w-full p-1 bg-white border border-gray-300 mt-1 rounded-md 
                       focus:outline-none focus:ring-2 focus:ring-blue-400 text-sm">
          <option *ngFor="let account of accountList" [value]="account.id">{{ account.accountId }}</option>
        </select>
      </div>

      
      <div>
        <label class="block text-sm/6 font-medium text-gray-900">Value</label>
        <input type="number" formControlName="value" class="w-full p-1 bg-white mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder:text-sm">
        <div *ngIf="collateralForm.get('value')?.invalid && collateralForm.get('value')?.touched" class="text-red-500 text-xs">
          Value is required and must be a positive number.
        </div>
      </div>
  
      <!-- Description Textarea -->
      <div>
        <label class="block text-sm/6 font-medium text-gray-900">Description</label>
        <textarea formControlName="description" rows="4" class="w-full p-1 bg-white mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder:text-sm"></textarea>
        <div *ngIf="collateralForm.get('description')?.invalid && collateralForm.get('description')?.touched" class="text-red-500 text-xs">
          Description is required and must be less than 500 characters.
        </div>
      </div>
  
      <!-- Address Input -->
      <div>
        <label class="block text-sm/6 font-medium text-gray-900">Address</label>
        <input type="text" formControlName="address" class="w-full p-1 bg-white mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder:text-sm">
        <div *ngIf="collateralForm.get('address')?.invalid && collateralForm.get('address')?.touched" class="text-red-500 text-xs">
          Address is required and must be less than 200 characters.
        </div>
      </div>
  
      <!-- Image URL Input -->
      <div>
        <div class="col-span-full">
            <label for="cover-photo" class="block text-sm/6 font-medium text-gray-900">Photo URL</label>
            <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
              <div class="text-center">
                <svg class="mx-auto size-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" />
                </svg>
                <div class="mt-4 flex text-sm/6 text-gray-600">
                    <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-[#00A1FF] focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 focus-within:outline-hidden hover:text-[#0088CC]">
                      <span>Upload a file</span>
                      <input id="file-upload" name="file-upload" type="file" class="sr-only" 
                      (change)="onFileChange($event)" 
                      accept="image/png,image/jpeg,image/gif">
                    </label>
                  <p class="pl-1">or drag and drop</p>
                </div>
                <p class="text-xs/5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
              </div>
            </div>
          </div>
    </div>
  
      <!-- Collateral Type Dropdown -->
      <div>
        <label class="block text-sm/6 font-medium text-gray-900">Collateral Type</label>
        <select formControlName="collateralTypeId" class="w-full p-1 bg-white border border-gray-300 mt-1 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 text-sm">
          <option *ngFor="let type of collateralTypes" [value]="type.id">{{ type.name }}</option>
        </select>
      </div>
      
      <!-- Submit Button -->
      <button type="submit" class="w-full mt-2 py-2 px-4 bg-[#00A1FF] text-white font-semibold rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all">
        Register Collateral
      </button>
    </form>
  </div>